.about-container{
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-one{
    width: 100%;
    height: 300px;
    background-color: #e8e8e8;
}
.about-img{
    width: 100%;
    height: 100%;
}
.two-title{
    font-size: 40px;
    color: #3279CD;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.two-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 500px; */
}
.twobody-left{
    font-size: 17px;
    text-align: justify;
    font-family: SourceHanSansSC-regular;
    width: 800px;
    /* height: 500px; */
}
.twobody-right{
    width: 380px;
    height: 400px;
    margin-left: 100px;
}
.about-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.threeabout-title{
    font-size: 40px;
    color: #3279CD;
    text-align: center;
    margin-bottom: 40px;
}
.three-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
}
.about-pe{
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
}
.three-word{
    font-size: 20px;
}
.about-four{
    width: 100%;
    height: 250px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.four-left{
    font-size: larger;
    font-family: SimSun;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-right: 500px;
    margin-left: 180px;
}
.four-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.four-box{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four-size{
    width: 150px;
    height: 150px;
}
.four-name{
    color: white;
    font-size: 14px;
    margin-top: 9px;
}