.bkg{
    width: 100%;
    height: 125vh;
    background-image: url("https://s2.loli.net/2023/01/07/qDLd8rPGMmuiEjC.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.button{
   position: relative;
  
}
.box{
    position: absolute;
    width: 40vw;
    top: 70vh;
    right: 30vw;
}
.circle{
    border-radius: 50%;
    width: 145px;
    height: 145px;
    opacity: 0.35;
    background-color: rgba(16, 16, 16, 1);
    border: 1px solid rgba(187, 187, 187, 1);
}
.left{
    position: absolute;
    left: 0;
}
.right{
    position: absolute;
    right: 0;
}
.option{
    position: absolute;
    display: flex;
    width: 145px;
    height: 145px;
    color: #ffff;
    line-height: 145px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    font-family: Roboto;
    z-index: 1;
    cursor: pointer;
    /* background-color: antiquewhite; */
}

.grey{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}
.fixed{
    width: 100vw;
    height: 100vh;
    background-image: url("https://s2.loli.net/2023/01/07/qDLd8rPGMmuiEjC.png");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.box2{
    position: absolute;
    left: 60vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    width: 366px;
    height: 309px;
    line-height: 20px;
    border-radius: 6px;
    background-color: #F1F1F1;
    text-align: center;
    padding-left: 30px;
}
.title{
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgba(103, 103, 103, 1);
    font-size: 16px;
    text-align: center;
    font-family: SourceHanSansSC-bold;
    font-weight: 600;
    margin-right: 20px;
}
.input{
    width: 320px;
    height: 39px;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
    font-family: Roboto;;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: rgba(136, 136, 136, 1);
    margin-bottom: 20px;
    padding-left: 10px;
}
.login{
    width: 330px;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(89, 172, 241, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    font-family: PingFang SC;
    border: none;
}

.L_text{
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(89, 172, 241, 1);
    font-size: 12px;
    text-align: center;
    font-family: PingFang SC;
}

.principle{
    margin-top: 20px;
    color: rgba(137, 137, 137, 1);
    font-size: 12px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}
.blue{
    color: rgba(89, 172, 241, 1);
}